@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap");
:root {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica; }

html,
body {
  scroll-behavior: smooth; }

@media screen and (min-width: 1024px) {
  html,
  body {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory; } }

@media screen and (min-width: 1024px) {
  section {
    scroll-snap-align: start; } }

p {
  font-size: 1.6rem; }
  @media screen and (max-width: 375px) {
    p {
      font-size: 1.3rem; } }

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  display: none; }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      display: block; } }
  @media screen and (min-width: 1440px) {
    h2 {
      font-size: 2.2rem; } }

input,
button {
  outline: none; }

button {
  cursor: pointer; }

.container {
  padding: 0 2rem; }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0 5rem; } }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 95rem;
      padding: 0;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 110rem; } }
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 80%; } }
  @media screen and (min-width: 1900px) {
    .container {
      max-width: 85%; } }

.text-center {
  text-align: center; }

.w-100 {
  width: 100%; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

@keyframes scrolldown {
  0% {
    transform: translateY(0.5rem); }
  50% {
    transform: translateY(0.3rem); }
  100% {
    transform: translateY(1rem); } }
.full_nav {
  position: fixed;
  left: -100%;
  opacity: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  overflow-y: hidden;
  padding: 3rem 0; }
  @media screen and (min-width: 1024px) {
    .full_nav {
      padding: 0 0 4rem; } }
  .full_nav .container {
    display: flex;
    flex-direction: column;
    height: 100%; }
    @media screen and (min-width: 1024px) {
      .full_nav .container {
        display: block; } }
  .full_nav .close_icon {
    cursor: pointer; }
    .full_nav .close_icon ion-icon {
      color: #000;
      font-size: 3rem; }
      @media screen and (min-width: 1024px) {
        .full_nav .close_icon ion-icon {
          font-size: 4rem; } }
    @media screen and (min-width: 1024px) {
      .full_nav .close_icon {
        position: absolute;
        top: 46%;
        left: 4%;
        transform: translate(-46%, 0); } }
  @media screen and (min-width: 768px) {
    .full_nav h2 {
      display: block;
      margin-top: auto;
      font-size: 2rem;
      letter-spacing: 0.5rem; } }
  @media screen and (min-width: 1024px) {
    .full_nav h2 {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, 0); } }
  .full_nav h2 a {
    color: inherit;
    text-decoration: none; }
  .full_nav .links {
    margin-top: auto; }
    @media screen and (min-width: 768px) {
      .full_nav .links {
        padding-top: 0.5rem; } }
    @media screen and (min-width: 1024px) {
      .full_nav .links {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 90%;
        top: 47.5%;
        transform: translate(0, -47.5%); } }
    .full_nav .links a {
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      display: block;
      margin-bottom: 2rem;
      font-size: 2.5rem;
      font-family: "Playfair Display", serif;
      letter-spacing: 0.6rem; }
      .full_nav .links a:last-of-type {
        margin-bottom: 0; }
      .full_nav .links a:hover {
        color: grey; }
      @media screen and (max-width: 320px) {
        .full_nav .links a {
          font-size: 1.5rem; } }
      @media screen and (min-width: 1024px) {
        .full_nav .links a {
          margin-right: 10rem;
          margin-bottom: 0; } }
  .full_nav .contact {
    margin-top: auto; }
    @media screen and (min-width: 1024px) {
      .full_nav .contact {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 0); } }
    .full_nav .contact .address {
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-size: 2rem;
      width: 50%;
      margin: auto; }
      @media screen and (min-width: 768px) {
        .full_nav .contact .address {
          width: auto; } }
    .full_nav .contact .phone,
    .full_nav .contact .mail {
      margin-top: 1rem;
      line-height: 1rem;
      font-size: 1.4rem;
      font-weight: 700; }
  .full_nav .logo {
    margin-top: auto;
    width: 6%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 1024px) {
      .full_nav .logo {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 2%; } }
    .full_nav .logo img {
      width: 100%; }
    @media screen and (min-width: 1024px) {
      .full_nav .logo .mobile-logo {
        display: none; } }
    .full_nav .logo .desktop-logo {
      display: none; }
      @media screen and (min-width: 1024px) {
        .full_nav .logo .desktop-logo {
          display: block; } }

.nav_trigger {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  z-index: 5;
  cursor: pointer;
  width: 4rem;
  padding-bottom: 0.5rem; }
  @media screen and (min-width: 1024px) {
    .nav_trigger {
      top: 48%;
      transform: translate(0, -48%);
      left: 2%;
      flex-direction: row;
      width: 6rem;
      padding-bottom: 0; } }
  @media screen and (min-width: 1440px) {
    .nav_trigger {
      left: 3%; } }
  .nav_trigger .icon {
    display: flex;
    transform: rotate(180deg);
    margin: auto; }
    @media screen and (min-width: 1024px) {
      .nav_trigger .icon {
        transform: rotate(90deg); } }
    .nav_trigger .icon .line {
      background-color: #fff;
      display: block;
      width: 0.1rem;
      margin-left: 0.3rem;
      transition: background-color 1.5s cubic-bezier(0.7, 0, 0.3, 1) 0ms; }
      @media screen and (min-width: 1024px) {
        .nav_trigger .icon .line {
          width: 0.2rem; } }
      .nav_trigger .icon .line.dark {
        background-color: #000; }
    .nav_trigger .icon .one {
      height: 1.5rem; }
    .nav_trigger .icon .two {
      height: 2rem; }
    .nav_trigger .icon .three {
      height: 1rem; }
  .nav_trigger .txt {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 1rem;
    transition: color 1.5s cubic-bezier(0.7, 0, 0.3, 1) 0ms; }
    .nav_trigger .txt.dark {
      color: #000; }
    @media screen and (min-width: 1024px) {
      .nav_trigger .txt {
        transform: rotate(-90deg);
        margin-top: 0.5rem;
        font-size: 1rem; } }

.fixed_social_icons,
.social_icons {
  display: none; }
  @media screen and (min-width: 1024px) {
    .fixed_social_icons,
    .social_icons {
      position: fixed;
      right: 2%;
      top: 48%;
      transform: translate(0, -50%);
      display: flex;
      flex-direction: column;
      height: 6rem; } }
  .fixed_social_icons a,
  .social_icons a {
    color: inherit;
    text-decoration: none;
    margin-top: 0.7rem; }
    .fixed_social_icons a:first-of-type,
    .social_icons a:first-of-type {
      margin-top: 0; }
    .fixed_social_icons a ion-icon,
    .social_icons a ion-icon {
      font-size: 1.6rem; }
    .fixed_social_icons a:hover,
    .social_icons a:hover {
      color: gray; }

.footer {
  scroll-snap-align: start;
  padding: 6rem 0; }
  .footer .newsletter input,
  .footer .newsletter button {
    padding: 1rem;
    border: 3px solid #000;
    background: transparent;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    outline: none; }
    .footer .newsletter input::-webkit-input-placeholder,
    .footer .newsletter button::-webkit-input-placeholder {
      text-transform: uppercase;
      color: #000; }
    .footer .newsletter input:-ms-input-placeholder,
    .footer .newsletter button:-ms-input-placeholder {
      text-transform: uppercase;
      color: #000; }
    .footer .newsletter input::-ms-input-placeholder,
    .footer .newsletter button::-ms-input-placeholder {
      text-transform: uppercase;
      color: #000; }
    .footer .newsletter input::placeholder,
    .footer .newsletter button::placeholder {
      text-transform: uppercase;
      color: #000; }
  .footer .newsletter button {
    margin-left: -0.3rem;
    text-transform: uppercase;
    border-left: 0; }
    .footer .newsletter button:hover {
      background: #000;
      color: #fff;
      -webkit-transition: background 0.5s ease-in;
      transition: background 0.5s ease-in; }
  @media screen and (min-width: 768px) {
    .footer .newsletter input,
    .footer .newsletter button {
      font-size: 1rem; }
    .footer .newsletter input {
      width: 20%; }
    .footer .newsletter button {
      width: 10%; } }
  @media screen and (min-width: 1024px) {
    .footer .newsletter input {
      width: 16%; }
    .footer .newsletter button {
      width: 8%; } }
  @media screen and (min-width: 1200px) {
    .footer .newsletter input {
      width: 15%; }
    .footer .newsletter button {
      width: 6%; } }
  .footer .footer_logo {
    margin: 3rem auto;
    width: 6%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .footer .footer_logo {
        width: 3%; } }
    @media screen and (min-width: 1024px) {
      .footer .footer_logo {
        width: 1.5%; } }
  .footer .copyright {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 1024px) {
      .footer .copyright {
        width: auto; } }
    .footer .copyright p {
      font-size: 1.2rem; }
      .footer .copyright p span {
        font-weight: 900; }
      .footer .copyright p:first-of-type {
        margin-bottom: 1rem; }

.home .header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/intro-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 0; }
  .home .header .logo {
    width: 20%;
    -ms-flex-item-align: center;
    align-self: center;
    margin: auto 0 0; }
    @media screen and (min-width: 768px) {
      .home .header .logo {
        width: 10%; } }
  .home .header .go_down {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: auto;
    width: 1rem;
    -webkit-animation: scrolldown 1s infinite ease;
    animation: scrolldown 1s infinite ease; }
    @media screen and (min-width: 768px) {
      .home .header .go_down {
        width: 1.2rem; } }
    .home .header .go_down img {
      width: 100%; }

.journals {
  background-color: #fff;
  padding: 10rem 0 3rem; }
  .journals .filters {
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: none; }
    @media screen and (min-width: 1024px) {
      .journals .filters {
        display: block; }
        .journals .filters.fixed {
          position: -webkit-sticky;
          position: sticky;
          padding: 1rem 0;
          font-weight: 600;
          top: 0;
          z-index: 5;
          background: #fff;
          -webkit-transition: background 0.5s ease-in;
          transition: background 0.5s ease-in; } }
    .journals .filters span {
      margin-right: 1.2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: grey; }
      .journals .filters span:hover {
        color: #000; }
      .journals .filters span:last-of-type {
        margin-right: 0; }
    .journals .filters .filter {
      cursor: pointer; }
  .journals .posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 6rem;
    grid-row-gap: 3rem; }
    @media screen and (min-width: 768px) {
      .journals .posts-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 1200px) {
      .journals .posts-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto); }
        .journals .posts-grid .two {
          grid-row: 1/ 3;
          grid-column: 2 / 3; }
          .journals .posts-grid .two img {
            height: 90%; }
        .journals .posts-grid .last {
          grid-row: 2/ 4;
          grid-column: 3 / 4; }
          .journals .posts-grid .last img {
            height: 90%; } }
  .journals .post {
    cursor: pointer; }
    .journals .post .post_title {
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-size: 3.5rem; }

.profile {
  height: 100vh;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .profile h2 {
    margin-bottom: auto; }
  .profile .logo {
    margin-top: 6rem;
    width: 6%; }
    @media screen and (min-width: 768px) {
      .profile .logo {
        display: none; } }
  .profile .heading {
    display: none;
    margin-bottom: auto; }
    .profile .heading h3 {
      font-family: "Playfair Display", serif;
      text-transform: capitalize;
      font-weight: 700;
      font-style: italic;
      font-size: 2.8rem; }
    .profile .heading .sub_heading {
      text-transform: capitalize;
      font-weight: 500; }
    @media screen and (min-width: 768px) {
      .profile .heading {
        display: block; } }
  .profile .summary {
    margin-bottom: auto; }
    .profile .summary p {
      font-weight: 500;
      text-align: justify;
      color: #000; }
      @media screen and (min-width: 768px) {
        .profile .summary p {
          text-align: center;
          width: 70%;
          margin: auto; } }
  .profile .type_effect {
    margin-top: auto; }
    .profile .type_effect h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.8rem; }
      .profile .type_effect h3 span {
        color: #b50f0f; }
      @media screen and (min-width: 1024px) {
        .profile .type_effect h3 {
          font-size: 2rem; } }
  .profile .scroll_down {
    margin-top: auto;
    width: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    animation: scrolldown 1s infinite ease; }

.team {
  min-height: 100vh;
  padding: 8rem 0 0; }
  .team h2 {
    display: block;
    margin-bottom: 7rem; }
  .team p {
    text-transform: uppercase;
    font-weight: bold; }
  .team .members {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 12rem !important; }
    @media screen and (min-width: 768px) {
      .team .members .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4rem; } }
    @media screen and (min-width: 1200px) {
      .team .members .grid {
        grid-template-columns: repeat(5, 1fr); } }
    .team .members .member {
      position: relative;
      overflow: hidden; }
      .team .members .member:hover .details {
        left: 0;
        transition: left 0.5s ease-in; }
      .team .members .member img {
        display: none; }
        @media screen and (min-width: 768px) {
          .team .members .member img {
            display: block; } }
      .team .members .member .details a {
        color: inherit;
        text-decoration: none; }
        @media screen and (min-width: 768px) {
          .team .members .member .details a {
            color: #fff; } }
      .team .members .member .details .role {
        color: lightgray;
        font-size: 1.3rem; }
      @media screen and (min-width: 768px) {
        .team .members .member .details .name {
          font-size: 2rem; } }
      @media screen and (min-width: 768px) {
        .team .members .member .details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: left;
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.8);
          padding: 0 2rem; } }
  @media screen and (min-width: 1200px) {
    .team .collaborators .grid {
      width: 80%;
      margin: 0 auto; } }
  .team .collaborators p {
    margin-top: 2rem;
    font-size: 1.2rem; }
    .team .collaborators p a {
      color: inherit;
      text-decoration: none; }
      .team .collaborators p a:hover {
        color: grey; }
    @media screen and (min-width: 768px) {
      .team .collaborators p {
        display: inline-block;
        margin-right: 2rem;
        margin-bottom: 1rem;
        letter-spacing: 0.3rem; } }
  .team .collaborators h3 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase; }
  .team .representatives h3 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem; }
  .team .representatives p {
    letter-spacing: 0.2rem;
    font-size: 1rem; }
    .team .representatives p.name {
      font-size: 1.3rem; }
    .team .representatives p.location {
      color: grey; }
    .team .representatives p.mobile {
      font-weight: 500; }
  @media screen and (min-width: 768px) {
    .team .representatives {
      padding: 0; } }
  @media screen and (min-width: 768px) {
    .team .representatives .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 8rem;
      grid-row-gap: 3rem; } }
  @media screen and (min-width: 1200px) {
    .team .representatives .grid {
      grid-template-columns: repeat(4, 1fr); } }
  .team .representatives,
  .team .collaborators,
  .team .members {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (max-height: 480px) {
      .team .representatives,
      .team .collaborators,
      .team .members {
        height: auto;
        padding: 2rem 0 2rem; } }
    @media screen and (min-width: 768px) {
      .team .representatives,
      .team .collaborators,
      .team .members {
        scroll-snap-align: start;
        height: auto;
        padding: 0 0 6rem; } }
  .team .logo-bottom {
    width: 6%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem; }
    @media screen and (min-width: 768px) {
      .team .logo-bottom {
        width: 3%; } }
    @media screen and (min-width: 1024px) {
      .team .logo-bottom {
        width: 1.5%; } }

@media screen and (min-width: 1024px) {
  .creatives {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }
@media screen and (min-width: 1024px) {
  .creatives h2 {
    position: fixed;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 0); } }
.creatives .container {
  height: 100vh;
  background-image: url("../assets/intro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  transition: background-image 0.4s ease; }
  @media screen and (max-width: 1023px) {
    .creatives .container {
      max-width: 100vw; } }
  @media screen and (min-width: 1024px) {
    .creatives .container {
      height: 60vh; } }
  .creatives .container .list {
    margin-top: auto; }
    @media screen and (min-width: 1024px) {
      .creatives .container .list {
        width: 80%;
        margin: auto; } }
    .creatives .container .list p {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 4rem;
      letter-spacing: 0.4rem; }
      .creatives .container .list p:last-of-type {
        margin-bottom: 0; }
      @media screen and (min-width: 768px) {
        .creatives .container .list p {
          display: inline-block;
          margin-right: 2rem; }
          .creatives .container .list p:last-of-type {
            margin-right: 0; } }
      @media screen and (min-width: 1200px) {
        .creatives .container .list p {
          margin-right: 4rem; } }
      @media screen and (min-width: 1440px) {
        .creatives .container .list p {
          font-size: 1.8rem; } }
      .creatives .container .list p a {
        color: #fff;
        text-decoration: none; }
  .creatives .container .logo {
    width: 6%;
    margin-top: auto;
    align-self: center; }
    @media screen and (min-width: 768px) {
      .creatives .container .logo {
        width: 3%; } }
    @media screen and (min-width: 1024px) {
      .creatives .container .logo {
        width: 1.5%; } }
    @media screen and (min-width: 1024px) {
      .creatives .container .logo {
        position: fixed;
        bottom: 6%;
        left: 50%;
        transform: translate(-50%, 0); } }
    .creatives .container .logo .black-logo {
      display: none; }
      @media screen and (min-width: 1024px) {
        .creatives .container .logo .black-logo {
          display: block; } }
    @media screen and (min-width: 1024px) {
      .creatives .container .logo .white-logo {
        display: none; } }

.bio {
  position: relative;
  min-height: 100vh;
  padding: 8rem 0;
  position: relative; }
  @media screen and (min-width: 768px) {
    .bio {
      height: 100vh;
      padding: 8rem 0 4rem; } }
  .bio .container {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .bio h2 {
    display: block;
    margin-top: 3rem; }
    @media screen and (min-width: 1024px) {
      .bio h2 {
        margin-top: 0; } }
    .bio h2.name {
      font-family: "Playfair Display", serif;
      font-size: 3rem;
      margin-bottom: 4rem; }
      @media screen and (min-width: 1024px) {
        .bio h2.name {
          font-size: 5rem;
          margin-bottom: 5rem; } }
  .bio p {
    text-align: justify;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .bio p {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (min-width: 1024px) {
      .bio p {
        width: 60%;
        letter-spacing: 0.1rem; } }
  .bio .intro {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 768px) {
      .bio .intro {
        margin-top: auto;
        margin-bottom: auto;
        width: auto; } }
  .bio .logo {
    width: 6%;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, 0); }
    @media screen and (min-width: 768px) {
      .bio .logo {
        width: 3%; } }
    @media screen and (min-width: 1024px) {
      .bio .logo {
        width: 1.5%; } }
    @media screen and (min-width: 768px) {
      .bio .logo {
        position: static;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto; } }
  .bio .scroll_down {
    width: 1.2rem;
    animation: scrolldown 1s infinite ease;
    position: absolute;
    left: 5%;
    bottom: 10%; }
    @media screen and (min-width: 1024px) {
      .bio .scroll_down {
        width: 1.3rem;
        bottom: 14%;
        left: 8%; } }

.gallery {
  min-height: 100vh;
  padding: 0 0 4rem; }
  @media screen and (min-width: 768px) {
    .gallery {
      padding: 10rem 0 4rem; } }
  .gallery .grid {
    margin-top: 6rem;
    display: grid;
    grid-gap: 2rem; }
    @media screen and (min-width: 768px) {
      .gallery .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem; } }
    @media screen and (min-width: 1200px) {
      .gallery .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 6rem;
        grid-row-gap: 3rem; } }
    .gallery .grid .post_title {
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-size: 2.8rem; }
      @media screen and (min-width: 768px) {
        .gallery .grid .post_title {
          font-size: 3.5rem; } }

.journal-slider {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transform: scale(0);
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: hidden; }
  @media screen and (max-height: 480px) {
    .journal-slider {
      min-height: 100%; } }
  .journal-slider .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .journal-slider .close {
        right: 4rem;
        top: 4rem; } }
  .journal-slider .prev,
  .journal-slider .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 3rem;
    display: none !important;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .journal-slider .prev,
      .journal-slider .next {
        display: block !important; } }
  .journal-slider .prev {
    left: 5rem; }
  .journal-slider .next {
    right: 5rem; }
  .journal-slider .contents-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .journal-slider .contents-container .journal-contents {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .journal-slider .contents-container .journal-contents {
          width: 50%; } }
      @media screen and (min-width: 1024px) {
        .journal-slider .contents-container .journal-contents {
          width: 30%; } }
      .journal-slider .contents-container .journal-contents img,
      .journal-slider .contents-container .journal-contents video,
      .journal-slider .contents-container .journal-contents iframe {
        width: 100%; }

.contact_page {
  height: 120vh;
  overflow-y: hidden;
  position: relative; }
  @media screen and (max-width: 360px) {
    .contact_page {
      height: 150vh; } }
  @media screen and (min-width: 768px) {
    .contact_page {
      height: 100vh; } }
  @media screen and (min-width: 1024px) {
    .contact_page {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media screen and (min-width: 1024px) {
    .contact_page h2 {
      position: fixed;
      top: 11%;
      left: 50%;
      transform: translate(-50%, 0); } }
  .contact_page .container {
    height: 100%;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 1024px) {
      .contact_page .container {
        background-image: url("../assets/contact-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 2rem 0;
        height: 62%;
        width: 100%; } }
    .contact_page .container p {
      font-size: 1.4rem;
      font-weight: 500; }
  .contact_page .location .address {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
  .contact_page .marker {
    margin-top: auto; }
    .contact_page .marker ion-icon {
      font-size: 4.5rem; }
  .contact_page .social ion-icon {
    font-size: 2rem;
    margin-right: 1.5rem; }
    .contact_page .social ion-icon:last-of-type {
      margin-right: 0; }
  .contact_page .mail {
    margin-top: auto;
    margin-bottom: 2.5rem; }
    .contact_page .mail a {
      color: inherit;
      text-decoration: none; }
      .contact_page .mail a strong {
        font-size: 1.6rem; }
  .contact_page .newsletter {
    margin-bottom: 1rem; }
    .contact_page .newsletter .mobile {
      background: transparent;
      border: 2px solid #000;
      padding: 1rem;
      width: 80%;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold; }
      @media screen and (min-width: 768px) {
        .contact_page .newsletter .mobile {
          width: 25%; } }
      .contact_page .newsletter .mobile.hide {
        display: none;
        opacity: 0;
        transition: all 0.4s ease; }
    .contact_page .newsletter form {
      display: none;
      opacity: 0; }
      .contact_page .newsletter form.show {
        display: block;
        opacity: 1;
        transition: all 0.4s ease; }
      .contact_page .newsletter form input {
        padding: 1rem;
        border: 3px solid #000;
        width: 15%;
        color: inherit;
        font-size: 1rem;
        font-weight: bold; }
        .contact_page .newsletter form input::placeholder {
          text-transform: uppercase;
          color: inherit; }
      .contact_page .newsletter form button {
        background: transparent;
        border: 3px solid #000;
        padding: 1rem;
        width: 8%;
        margin-left: -0.3rem;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        border-left: 0; }
        .contact_page .newsletter form button:hover {
          background: #000;
          color: #fff;
          transition: background 0.5s ease; }
  .contact_page .copyright {
    margin-top: auto; }
    .contact_page .copyright p {
      font-size: 1rem; }
      .contact_page .copyright p strong {
        font-weight: 700; }
  .contact_page .logo {
    width: 6%; }
    @media screen and (min-width: 768px) {
      .contact_page .logo {
        width: 3%; } }
    @media screen and (min-width: 1024px) {
      .contact_page .logo {
        width: 1.5%; } }
    @media screen and (min-width: 1024px) {
      .contact_page .logo {
        position: fixed;
        bottom: 6%;
        left: 50%;
        transform: translate(-50%, 0); } }

/*# sourceMappingURL=main.css.map */
