@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400i&display=swap");
:root {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

html,
body {
  scroll-behavior: smooth; }

html,
body {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory; }

section {
  scroll-snap-align: start; }

p {
  font-size: 1.6rem; }
  @media screen and (max-width: 320px) {
    p {
      font-size: 1.2rem; } }

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: none; }
  @media screen and (max-width: 320px) {
    h2 {
      font-size: 2rem; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 3.5rem;
      display: block; } }

@keyframes scrolldown {
  0% {
    transform: translateY(0.5rem); }
  50% {
    transform: translateY(0.3rem); }
  100% {
    transform: translateY(1rem); } }
.full_nav {
  position: fixed;
  left: -100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff;
  padding: 2rem 0;
  overflow: hidden; }
  .full_nav .close_icon {
    cursor: pointer; }
    .full_nav .close_icon ion-icon {
      color: #000; }
    @media screen and (min-width: 1024px) {
      .full_nav .close_icon {
        position: absolute;
        top: 50%;
        left: 4.5rem;
        transform: translate(-50%, 0); } }
  .full_nav h2 {
    text-transform: uppercase;
    display: none; }
    @media screen and (min-width: 768px) {
      .full_nav h2 {
        display: block; } }
  @media screen and (min-width: 768px) {
    .full_nav .links {
      display: flex;
      justify-content: space-around; } }
  @media screen and (min-width: 768px) {
    .full_nav .links {
      padding-top: 13rem; } }
  .full_nav .links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    display: block;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-family: serif; }
    .full_nav .links a:last-of-type {
      margin-bottom: 0; }
    .full_nav .links a:hover {
      color: #1a1a1a; }
    @media screen and (max-width: 320px) {
      .full_nav .links a {
        font-size: 1.5rem; } }
  .full_nav .contact .address {
    font-family: "IM Fell Double Pica", serif;
    font-weight: 500;
    width: 50%;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .full_nav .contact .address {
        width: auto;
        font-size: 2.5rem; } }
  .full_nav .contact .phone,
  .full_nav .contact .mail {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1rem; }
    @media screen and (min-width: 768px) {
      .full_nav .contact .phone,
      .full_nav .contact .mail {
        font-size: 1.6rem; } }
  .full_nav .logo {
    width: 6%; }
    @media screen and (min-width: 1024px) {
      .full_nav .logo {
        width: 3%; } }
    .full_nav .logo img {
      width: 100%; }

.nav_trigger {
  position: fixed;
  top: 2rem;
  left: 50%;
  z-index: 5;
  display: flex;
  transform: rotate(180deg) translate(50%, 0);
  cursor: pointer; }
  .nav_trigger.dark span {
    background-color: #000;
    transition: background-color 3s ease; }
  @media screen and (min-width: 1024px) {
    .nav_trigger {
      top: 50%;
      left: 2rem;
      transform: rotate(90deg) translate(0, -50%); } }
  .nav_trigger span {
    background-color: #fff;
    display: block;
    width: 0.2rem;
    margin-left: 0.5rem;
    transition: height 0.5s ease; }
  .nav_trigger .one {
    height: 1.5rem; }
    @media screen and (min-width: 768px) {
      .nav_trigger .one {
        height: 2rem; } }
  .nav_trigger .two {
    height: 2rem; }
    @media screen and (min-width: 768px) {
      .nav_trigger .two {
        height: 2.5rem; } }
  .nav_trigger .three {
    height: 1rem; }
    @media screen and (min-width: 768px) {
      .nav_trigger .three {
        height: 1.5rem; } }

.fixed_social_icons {
  display: none; }
  @media screen and (min-width: 1024px) {
    .fixed_social_icons {
      position: fixed;
      right: 2rem;
      top: 50%;
      transform: translate(0, -50%); } }
  .fixed_social_icons ion-icon {
    font-size: 1.5rem; }

footer {
  padding: 4rem 0; }
  footer .newsletter input,
  footer .newsletter button {
    padding: 1rem;
    border: 2px solid #000;
    background: transparent;
    color: #000;
    font-weight: bold;
    outline: none; }
    footer .newsletter input::placeholder,
    footer .newsletter button::placeholder {
      text-transform: uppercase;
      color: #000; }
  footer .newsletter button {
    margin-left: -0.3rem;
    text-transform: uppercase; }
    footer .newsletter button:hover {
      background: #000;
      color: #fff;
      transition: background 0.5s ease-in; }
  @media screen and (min-width: 768px) {
    footer .newsletter input,
    footer .newsletter button {
      font-size: 1.4rem; }
    footer .newsletter input {
      width: 40%; }
    footer .newsletter button {
      width: 15%; } }
  footer .footer_logo {
    width: 5%;
    margin: auto; }
    @media screen and (min-width: 768px) {
      footer .footer_logo {
        width: 3%; } }
  footer .copyright p {
    font-weight: 600; }
    footer .copyright p span {
      font-weight: 900; }

.home .header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/intro-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 0; }
  .home .header .logo {
    width: 20%;
    -ms-flex-item-align: center;
    align-self: center;
    margin: auto 0 0; }
    @media screen and (min-width: 768px) {
      .home .header .logo {
        width: 10%; } }
  .home .header .go_down {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: auto;
    width: 1rem;
    animation: scrolldown 1s infinite ease; }
    @media screen and (min-width: 768px) {
      .home .header .go_down {
        width: 1.2rem; } }
    .home .header .go_down img {
      width: 100%; }

.journals {
  background-color: #fff; }
  .journals .filters {
    display: none; }
    @media screen and (min-width: 1024px) {
      .journals .filters {
        display: block; }
        .journals .filters.fixed {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 5;
          background: #fff;
          -webkit-transition: background 0.5s ease-in;
          transition: background 0.5s ease-in; } }
    .journals .filters span {
      margin-right: 1.2rem;
      font-size: 1.6rem;
      text-transform: uppercase; }
      .journals .filters span:last-of-type {
        margin-right: 0; }
    .journals .filters .filter {
      cursor: pointer; }
  .journals .posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem; }
    @media screen and (min-width: 768px) {
      .journals .posts-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 1200px) {
      .journals .posts-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto); }
        .journals .posts-grid .two {
          grid-row: 1/ 3;
          grid-column: 2 / 3; }
          .journals .posts-grid .two img {
            height: 90%; }
        .journals .posts-grid .last {
          grid-row: 2/ 4;
          grid-column: 3 / 4; }
          .journals .posts-grid .last img {
            height: 90%; } }
  .journals .post .post_title {
    font-family: "IM Fell Double Pica", serif;
    font-size: 2rem; }

.profile {
  height: 100vh; }
  .profile .logo {
    margin-top: 4rem;
    width: 6%; }
    @media screen and (min-width: 768px) {
      .profile .logo {
        width: 4%;
        margin-top: 6rem; } }
  .profile .summary .heading {
    display: none; }
    .profile .summary .heading h3 {
      font-family: "IM Fell Double Pica", serif;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 3rem; }
    .profile .summary .heading .sub_heading {
      text-transform: capitalize;
      font-weight: normal; }
    @media screen and (min-width: 768px) {
      .profile .summary .heading {
        display: block; } }
  .profile .summary p {
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      .profile .summary p {
        width: 80%;
        margin: auto; } }
  .profile .type_effect h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem; }
    .profile .type_effect h3 span {
      color: #b50f0f; }
    @media screen and (min-width: 1024px) {
      .profile .type_effect h3 {
        font-size: 2.5rem; } }
  .profile .scroll_down {
    width: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem; }
    @media screen and (min-width: 768px) {
      .profile .scroll_down {
        width: 1.2rem;
        left: 50%;
        transform: translate(-50%, 0); } }

.team {
  min-height: 100vh; }
  .team h2 {
    display: block;
    margin-bottom: 2rem; }
    @media screen and (min-width: 768px) {
      .team h2 {
        margin-top: 6rem; } }
  .team p {
    text-transform: uppercase;
    font-weight: bold; }
  @media screen and (min-width: 768px) {
    .team .members .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem; } }
  @media screen and (min-width: 1200px) {
    .team .members .grid {
      grid-template-columns: repeat(5, 1fr); } }
  .team .members .member {
    position: relative;
    overflow: hidden; }
    .team .members .member:hover .details {
      left: 0;
      transition: left 0.5s ease-in; }
    .team .members .member img {
      display: none; }
      @media screen and (min-width: 768px) {
        .team .members .member img {
          display: block; } }
    .team .members .member .details a {
      color: inherit;
      text-decoration: none; }
      @media screen and (min-width: 768px) {
        .team .members .member .details a {
          color: #fff; } }
    .team .members .member .details .role {
      color: lightgray;
      font-size: 1.3rem; }
    @media screen and (min-width: 768px) {
      .team .members .member .details .name {
        font-size: 2rem; } }
    @media screen and (min-width: 768px) {
      .team .members .member .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        padding: 0 2rem; } }
  @media screen and (min-width: 1200px) {
    .team .collaborators .grid {
      width: 80%;
      margin: 0 auto; } }
  .team .collaborators p {
    margin-top: 2rem; }
    .team .collaborators p a {
      color: inherit;
      text-decoration: none; }
    @media screen and (min-width: 768px) {
      .team .collaborators p {
        display: inline-block;
        margin-right: 2rem;
        margin-top: 0; } }
  @media screen and (min-width: 768px) {
    .team .representatives .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5rem;
      grid-row-gap: 3rem; } }
  @media screen and (min-width: 1200px) {
    .team .representatives .grid {
      grid-template-columns: repeat(4, 1fr); } }
  .team .representatives .location {
    color: lightgray;
    font-size: 1.3rem; }
  .team .representatives .mobile {
    font-weight: 500; }
  .team .representatives,
  .team .collaborators,
  .team .members {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (max-height: 480px) {
      .team .representatives,
      .team .collaborators,
      .team .members {
        height: auto;
        padding: 2rem 0 2rem; } }
    @media screen and (min-width: 768px) {
      .team .representatives,
      .team .collaborators,
      .team .members {
        height: auto;
        padding: 2rem 0 2rem; } }

.contact_page {
  height: 120vh;
  overflow-y: hidden;
  position: relative; }
  @media screen and (max-width: 320px) {
    .contact_page {
      height: 150vh; } }
  @media screen and (min-width: 768px) {
    .contact_page {
      height: 100vh; } }
  @media screen and (min-width: 1024px) {
    .contact_page {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media screen and (min-width: 1024px) {
    .contact_page h2 {
      position: fixed;
      top: 2rem;
      left: 50%;
      transform: translate(-50%, 0); } }
  .contact_page .container {
    height: 100%; }
    @media screen and (min-width: 1024px) {
      .contact_page .container {
        background-image: url("../assets/contact-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 75%;
        width: 80%; } }
  .contact_page .location .address {
    font-family: "IM Fell Double Pica", serif;
    width: 50%; }
  .contact_page .social ion-icon {
    font-size: 2rem;
    margin-right: 1.5rem; }
    .contact_page .social ion-icon:last-of-type {
      margin-right: 0; }
  .contact_page .mail a {
    color: inherit; }
  .contact_page .newsletter .mobile {
    background: transparent;
    border: 2px solid #000;
    padding: 1rem;
    width: 70%;
    text-transform: uppercase;
    font-size: 1.2rem; }
    @media screen and (min-width: 768px) {
      .contact_page .newsletter .mobile {
        display: none; } }
  .contact_page .newsletter form {
    display: none; }
    @media screen and (min-width: 768px) {
      .contact_page .newsletter form {
        display: block; } }
    .contact_page .newsletter form input {
      padding: 1rem;
      border: 2px solid #000;
      width: 35%;
      color: inherit;
      font-size: 1.4rem; }
      .contact_page .newsletter form input::placeholder {
        text-transform: uppercase;
        color: inherit; }
      @media screen and (min-width: 1200px) {
        .contact_page .newsletter form input {
          width: 25%; } }
    .contact_page .newsletter form button {
      background: transparent;
      border: 2px solid #000;
      padding: 1rem;
      width: 15%;
      margin-left: -0.3rem;
      font-size: 1.4rem;
      text-transform: uppercase; }
      .contact_page .newsletter form button:hover {
        background: #000;
        color: #fff;
        transition: background 0.5s ease; }
      @media screen and (min-width: 1200px) {
        .contact_page .newsletter form button {
          width: 10%; } }
  .contact_page .logo {
    width: 6%; }
    @media screen and (min-width: 1024px) {
      .contact_page .logo {
        width: 2%;
        position: fixed;
        bottom: 2rem;
        left: 50%;
        transform: translate(-50%, 0); } }

/*# sourceMappingURL=main.css.map */
