@keyframes scrolldown {
    0% {
        transform: translateY(0.5rem);
    }
    50% {
        transform: translateY(0.3rem);
    }
    100% {
        transform: translateY(1rem);
    }
}

@keyframes strike {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}