.bio {
    position: relative;
    min-height: 100vh;
    padding: 8rem 0;
    position: relative;
    @media screen and (min-width: 768px) {
        height: 100vh;
        padding: 8rem 0 4rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    h2 {
        display: block;
        margin-top: 3rem;
        @media screen and (min-width: 1024px) {
            margin-top: 0;
        }
        &.name {
            font-family: $font-play;
            font-size: 3rem;
            margin-bottom: 4rem;
            @media screen and (min-width: 1024px) {
                font-size: 5rem;
                margin-bottom: 5rem;
            }
        }
    }
    p {
        text-align: justify;
        font-weight: 500;
        @media screen and (min-width: 768px) {
            text-align: center;
            width: 80%;
            @include center-with-margin;
        }
        @media screen and (min-width: 1024px) {
            width: 60%;
            letter-spacing: 0.1rem;
        }
    }
    .intro {
        width: 90%;
        @include center-with-margin;
        @media screen and (min-width: 768px) {
            margin-top: auto;
            margin-bottom: auto;
            width: auto;
        }
    }
    .logo {
        @include small-logo;
        position: fixed;
        left: 50%;
        bottom: 3%;
        transform: translate(-50%, 0);
        &.hide {
            opacity: 0;
        }
        @media screen and (min-width: 768px) {
            bottom: 5%;
            margin-top: auto;
            @include center-with-margin;
        }
    }
    .scroll_down {
        width: 1.2rem;
        animation: scrolldown 1s infinite ease;
        position: absolute;
        left: 9%;
        bottom: 10%;
        @media screen and (min-width: 1024px) {
            width: 1.3rem;
            bottom: 14%;
            left: 14%;
        }
    }
}

.gallery {
    min-height: 100vh;
    padding: 0 0 4rem;
    @media screen and (min-width: 768px) {
        padding: 10rem 0 4rem;
    }
    .grid {
        margin-top: 6rem;
        display: grid;
        grid-gap: 2rem;
        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 4rem;
        }
        @media screen and (min-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 6rem;
            grid-row-gap: 3rem;
        }
        .post_title {
            font-family: $font-play;
            font-style: italic;
            font-size: 2.8rem;
            @media screen and (min-width: 768px) {
                font-size: 3.5rem;
            }
        }
    }
}