.bio {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8rem 0 4rem;
    @media screen and (max-height: 480px) {
        height: 130vh;
    }
    @media screen and (max-width: 375px) {
        height: 120vh;
    }
    h2 {
        display: block;
        &.name {
            font-family: $font-play;
            font-size: 4rem;
            margin-bottom: 5rem;
        }
    }
    p {
        text-align: justify;
        @media screen and (min-width: 768px) {
            text-align: center;
            width: 80%;
            @include center-with-margin;
        }
    }
    .intro {
        margin-top: auto;
        margin-bottom: auto;
    }
    .logo {
        margin-top: auto;
        @include center-with-margin;
        @include small-logo;
    }
}

.gallery {
    min-height: 100vh;
    padding: 8rem 0 4rem;
    .grid {
        margin-top: 6rem;
        display: grid;
        grid-gap: 2rem;
        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 4rem;
        }
        @media screen and (min-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}