.creatives {
    min-height: 100vh;
    position: relative;
    @media screen and (min-width: 768px) {
        height: 100vh;
        @include center-with-flex(row);
    }
    h2 {
        @media screen and (min-width: 1024px) {
            position: fixed;
            top: 11%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 11rem;
        padding-bottom: 10rem;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        @media screen and (min-width: 768px) {
            justify-content: center;
            align-items: center;
        }
        @media screen and (max-width: 1023px) {
            max-width: 100vw;
        }
        @media screen and (min-width: 1024px) {
            height: 60vh;
        }
        .background-container {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            transition: opacity 1s ease-in-out;
            &.show {
                opacity: 1;
            }
        }
        .boundary {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 5rem;
            transform: translate(0, -50%);
        }
        .list {
            height: 100%;
            overflow: scroll;
            margin: auto 0;
            padding: 60% 0 40%;
            z-index: 3;
            &::-webkit-scrollbar {
                width: 0 !important;
            }
            @media screen and (max-width: 320px) {
                padding: 50% 0 30%;
            }
            @media screen and (min-width: 768px) {
                padding: 0;
                height: auto;
                overflow: auto;
            }
            @media screen and (min-width: 1024px) {
                width: 80%;
                margin: auto;
            }
            .list-item {
                text-transform: uppercase;
                font-size: 1.6rem;
                margin-bottom: 6rem;
                letter-spacing: 0.4rem;
                color: lightgray;
                opacity: 0.7;
                &.highlight {
                    color: $white;
                    opacity: 1;
                    font-size: 2.2rem;
                    font-weight: bold;
                }
                &.strike {
                    position: relative;
                    &::after {
                        content: " ";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 0.2rem;
                        background: #fff;
                        animation-name: strike;
                        animation-duration: 0.2s;
                        animation-timing-function: linear;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                }
                @media screen and (min-width: 768px) {
                    color: $white;
                    opacity: 1;
                    display: inline-block;
                    font-weight: 600;
                    margin-right: 2rem;
                    margin-bottom: 2rem;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    &:hover {
                        font-size: 1.6rem;
                        font-weight: 600;
                    }
                }
                @media screen and (min-width: 1200px) {
                    margin-right: 4rem;
                }
                @media screen and (min-width: 1440px) {
                    font-size: 1.8rem;
                    &:hover {
                        font-size: 1.8rem;
                    }
                }
                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
        .logo {
            @include small-logo;
            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translate(-50%, 0);
            @media screen and (min-width: 1024px) {
                position: fixed;
                bottom: 6%;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .black-logo {
                display: none;
                @media screen and (min-width: 1024px) {
                    display: block;
                }
            }
            .white-logo {
                @media screen and (min-width: 1024px) {
                    display: none;
                }
            }
        }
    }
}