.footer {
    scroll-snap-align: start;
    padding: 6rem 0;
    .newsletter {
        input,
        button {
            padding: 1rem;
            border: 3px solid $black;
            background: transparent;
            color: $black;
            font-weight: bold;
            outline: none;
            &::-webkit-input-placeholder {
                text-transform: uppercase;
                color: $black;
            }
            &:-ms-input-placeholder {
                text-transform: uppercase;
                color: $black;
            }
            &::-ms-input-placeholder {
                text-transform: uppercase;
                color: $black;
            }
            &::placeholder {
                text-transform: uppercase;
                color: $black;
            }
        }
        button {
            margin-left: -0.3rem;
            text-transform: uppercase;
            border-left: 0;
            &:hover {
                background: $black;
                color: $white;
                -webkit-transition: background 0.5s ease-in;
                transition: background 0.5s ease-in;
            }
        }
        @media screen and (min-width: 768px) {
            input,
            button {
                font-size: 1rem;
            }
            input {
                width: 12%;
            }
            button {
                width: 5%;
            }
        }
    }
    .footer_logo {
        // width: 5%;
        margin: 3rem auto;
        // @media screen and (min-width: 768px) {
        //     width: 2%;
        // }
        @include small-logo;
        @include center-with-margin;
    }
    .copyright {
        p {
            font-size: 1.2rem;
            span {
                font-weight: 900;
            }
            &:first-of-type {
                margin-bottom: 1rem;
            }
        }
    }
}