.footer {
    margin-top: 10rem;
    .newsletter {
        input,
        button {
            padding: 1rem;
            border: 3px solid $black;
            background: transparent;
            color: $black;
            font-weight: bold;
            outline: none;
            &::placeholder {
                text-transform: uppercase;
                color: $black;
            }
        }
        button {
            margin-left: -0.3rem;
            text-transform: uppercase;
            border-left: 0;
            &:hover {
                background: $black;
                color: $white;
                transition: background 0.5s ease-in;
            }
        }
        @media screen and (min-width: 768px) {
            input,
            button {
                font-size: 1rem;
            }
            input {
                width: 15%;
            }
            button {
                width: 8%;
            }
        }
    }
    .footer_logo {
        width: 5%;
        margin: 3rem auto;
        @media screen and (min-width: 768px) {
            width: 2%;
        }
    }
    .copyright {
        p {
            font-size: 1.2rem;
            span {
                font-weight: 900;
            }
            &:first-of-type {
                margin-bottom: 1rem;
            }
        }
    }
}