footer {
    padding: 4rem 0;
    scroll-snap-align: start;
    .newsletter {
        input,
        button {
            padding: 1rem;
            border: 2px solid $black;
            background: transparent;
            color: $black;
            font-weight: bold;
            outline: none;
            &::placeholder {
                text-transform: uppercase;
                color: $black;
            }
        }
        button {
            margin-left: -0.3rem;
            text-transform: uppercase;
            &:hover {
                background: $black;
                color: $white;
                transition: background 0.5s ease-in;
            }
        }
        @media screen and (min-width: 768px) {
            input,
            button {
                font-size: 1.4rem;
            }
            input {
                width: 40%;
            }
            button {
                width: 15%;
            }
        }
    }
    .footer_logo {
        width: 5%;
        margin: auto;
        @media screen and (min-width: 768px) {
            width: 3%;
        }
    }
    .copyright {
        p {
            font-weight: 600;
            span {
                font-weight: 900;
            }
        }
    }
}