.home {
    .header {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/intro-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        .logo {
            width: 20%;
            align-self: center;
            margin: auto 0 0;
            @media screen and (min-width: 768px) {
                width: 10%;
            }
        }
        .go_down {
            text-align: center;
            font-size: 4rem;
            color: #fff;
            align-self: center;
            margin-top: auto;
            width: 1rem;
            @media screen and (min-width: 768px) {
                width: 1.5rem;
            }
            img {
                width: 100%;
            }
        }
    }
}

.journals {
    h2 {
        text-transform: uppercase;
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
    .filters {
        display: none;
        @media screen and (min-width: 1024px) {
            display: block;
            &.fixed {
                position: sticky;
                top: 0;
                z-index: 5;
                background: $white;
                transition: background 0.5s ease-in;
            }
        }
        span {
            margin-right: 1.2rem;
            font-size: 1.6rem;
            text-transform: uppercase;
            &:last-of-type {
                margin-right: 0;
            }
        }
        .filter {
            cursor: pointer;
        }
    }
    .post {
        .post_title {
            font-family: $font-fell;
            font-size: 2rem;
        }
    }
}