.journal-slider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transform: scale(0);
    width: 100%;
    height: 100%;
    background: $white;
    overflow-y: hidden;
    @media screen and (max-height: 480px) {
        min-height: 100%;
    }
    .close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        @media screen and (min-width: 768px) {
            right: 4rem;
            top: 4rem;
        }
    }
    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 3rem;
        display: none !important;
        cursor: pointer;
        @media screen and (min-width: 768px) {
            display: block !important;
        }
    }
    .prev {
        left: 5rem;
    }
    .next {
        right: 5rem;
    }
    .contents-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .journal-contents {
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 50%;
            }
            @media screen and (min-width: 1024px) {
                width: 30%;
            }
            img,
            video,
            iframe {
                width: 100%;
            }
        }
    }
}