:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $font-mont;
}

html,
body {
    scroll-behavior: smooth;
}

html,
body {
    @media screen and (min-width: 1024px) {
        -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    }
}

section {
    @media screen and (min-width: 1024px) {
        scroll-snap-align: start;
    }
}

p {
    font-size: 1.6rem;
    @media screen and (max-width: 375px) {
        font-size: 1.3rem;
    }
}

h2 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    display: none;
    @media screen and (min-width: 1200px) {
        font-size: 2rem;
        display: block;
    }
    @media screen and (min-width: 1440px) {
        font-size: 2.2rem;
    }
}

input,
button {
    outline: none;
}

button {
    cursor: pointer;
}

input,
textarea,
select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.container {
    padding: 0 2rem;
    @media screen and (min-width: 768px) {
        padding: 0 5rem;
    }
    @media screen and (min-width: 1024px) {
        max-width: 95rem;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1280px) {
        max-width: 110rem;
    }
    @media screen and (min-width: 1440px) {
        max-width: 80%;
    }
    @media screen and (min-width: 1900px) {
        max-width: 85%;
    }
}

// Align text to center
.text-center {
    text-align: center;
}

// img width 100% its container
.w-100 {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}