@mixin center-with-flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

// contact, creatives pages
@mixin small-logo {
    width: 6%;
    @media screen and (min-width: 320px) and (orientation: landscape) {
        width: 3%;
    }
    @media screen and (min-width: 768px) {
        width: 2.5%;
    }
    @media screen and (min-width: 1200px) {
        width: 1.5%;
    }
}

//  Center content with margin
@mixin center-with-margin {
    margin-left: auto;
    margin-right: auto;
}