@mixin center-with-flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

// contact, creatives pages
@mixin small-logo {
    width: 6%;
    @media screen and (min-width: 1024px) {
        width: 2%;
    }
}