.full_nav {
    position: fixed;
    left: -100%;
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #fff;
    padding: 0 0 4rem;
    overflow-y: hidden;
    .container {
        // display: flex;
        // flex-direction: column;
        height: 100%;
    }
    .close_icon {
        cursor: pointer;
        ion-icon {
            color: $black;
            font-size: 4rem;
        }
        @media screen and (min-width: 1024px) {
            position: absolute;
            top: 46%;
            left: 4%;
            transform: translate(-46%, 0);
        }
    }
    h2 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0);
        @media screen and (min-width: 768px) {
            display: block;
            font-size: 2rem;
            letter-spacing: 0.5rem;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    .links {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            padding-top: 0.5rem;
            position: fixed;
            width: 90%;
            top: 48.8%;
            transform: translate(0, -48.8%);
        }
        a {
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            display: block;
            margin-bottom: 2rem;
            font-size: 2.5rem;
            font-family: $font-play;
            letter-spacing: 0.6rem;
            margin-right: 10rem;
            &:last-of-type {
                margin-bottom: 0;
            }
            &:hover {
                color: grey;
            }
            @media screen and (max-width: 320px) {
                font-size: 1.5rem;
            }
        }
    }
    .contact {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        .address {
            font-family: $font-play;
            font-style: italic;
            font-size: 2rem;
            width: 50%;
            margin: auto;
            @media screen and (min-width: 768px) {
                width: auto;
            }
        }
        .phone,
        .mail {
            margin-top: 1rem;
            line-height: 1rem;
            font-size: 1.4rem;
            font-weight: 700;
        }
    }
    .logo {
        margin-top: auto;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 6%;
        @include center-with-margin;
        @media screen and (min-width: 1024px) {
            width: 2%;
        }
        img {
            width: 100%;
        }
        .mobile-logo {
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
        .desktop-logo {
            display: none;
            @media screen and (min-width: 768px) {
                display: block;
            }
        }
    }
}

.nav_trigger {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    z-index: 5;
    cursor: pointer;
    width: 4rem;
    padding-bottom: 0.5rem;
    @media screen and (min-width: 1024px) {
        top: 48%;
        transform: translate(0, -48%);
        left: 3%;
        flex-direction: row;
        width: 6rem;
        padding-bottom: 0;
    }
    .icon {
        display: flex;
        transform: rotate(180deg);
        margin: auto;
        @media screen and (min-width: 1024px) {
            transform: rotate(90deg);
        }
        .line {
            background-color: $white;
            display: block;
            width: 0.2rem;
            margin-left: 0.3rem;
            transition: background-color 1.5s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
            &.dark {
                background-color: $black;
            }
        }
        .one {
            height: 1.5rem;
        }
        .two {
            height: 2rem;
        }
        .three {
            height: 1rem;
        }
    }
    .txt {
        color: $white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 1rem;
        transition: color 1.5s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
        &.dark {
            color: $black;
        }
        @media screen and (min-width: 1024px) {
            transform: rotate(-90deg);
            margin-top: 0.5rem;
        }
    }
}

.fixed_social_icons,
.social_icons {
    display: none;
    // z-index: 10;
    @media screen and (min-width: 1024px) {
        position: fixed;
        right: 2%;
        top: 48%;
        transform: translate(0, -50%);
        display: flex;
        flex-direction: column;
        height: 6rem;
    }
    a {
        color: inherit;
        text-decoration: none;
        margin-top: 0.7rem;
        &:first-of-type {
            margin-top: 0;
        }
        ion-icon {
            font-size: 1.6rem;
        }
        &:hover {
            color: gray;
        }
    }
}

// .scroll_down {
//     width: 1.3rem;
//     position: fixed;
//     bottom: 14%;
//     left: 8%;
//     animation: scrolldown 1s infinite ease;
// }