.profile {
    height: 100vh;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin-bottom: auto;
    }
    .logo {
        margin-top: 6rem;
        width: 6%;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .heading {
        display: none;
        margin-bottom: auto;
        h3 {
            font-family: $font-play;
            text-transform: capitalize;
            font-weight: 700;
            font-style: italic;
            font-size: 2.8rem;
        }
        .sub_heading {
            text-transform: capitalize;
            font-weight: 500;
        }
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
    .summary {
        margin-bottom: auto;
        // margin-top: -4%;
        p {
            font-weight: 500;
            text-align: justify;
            color: $black;
            @media screen and (min-width: 768px) {
                text-align: center;
                width: 70%;
                margin: auto;
            }
        }
    }
    .type_effect {
        margin-top: auto;
        h3 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.8rem;
            span {
                color: #b50f0f;
            }
            @media screen and (min-width: 1024px) {
                font-size: 2rem;
            }
        }
    }
    .scroll_down {
        margin-top: auto;
        width: 1.3rem;
        // position: fixed;
        // bottom: 14%;
        // left: 50%;
        @include center-with-margin;
        animation: scrolldown 1s infinite ease;
    }
}

.team {
    min-height: 100vh;
    padding: 8rem 0 0;
    h2 {
        display: block;
        margin-bottom: 7rem;
    }
    p {
        text-transform: uppercase;
        font-weight: bold;
    }
    .members {
        width: 90%;
        @include center-with-margin;
        padding: 0 0 12rem !important;
        .grid {
            @media screen and (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 4rem;
            }
            @media screen and (min-width: 1200px) {
                grid-template-columns: repeat(5, 1fr);
            }
        }
        .member {
            position: relative;
            overflow: hidden;
            &:hover {
                .details {
                    left: 0;
                    transition: left 0.5s ease-in;
                }
            }
            img {
                display: none;
                @media screen and (min-width: 768px) {
                    display: block;
                }
            }
            .details {
                a {
                    color: inherit;
                    text-decoration: none;
                    @media screen and (min-width: 768px) {
                        color: $white;
                    }
                }
                .role {
                    color: lightgray;
                    font-size: 1.3rem;
                }
                .name {
                    @media screen and (min-width: 768px) {
                        font-size: 2rem;
                    }
                }
                @media screen and (min-width: 768px) {
                    @include center-with-flex(column);
                    text-align: left;
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    padding: 0 2rem;
                }
            }
        }
    }
    .collaborators {
        .grid {
            @media screen and (min-width: 1200px) {
                width: 80%;
                margin: 0 auto;
            }
        }
        p {
            margin-top: 2rem;
            font-size: 1.2rem;
            a {
                color: inherit;
                text-decoration: none;
            }
            @media screen and (min-width: 768px) {
                display: inline-block;
                margin-right: 2rem;
                margin-bottom: 1rem;
                letter-spacing: 0.3rem;
            }
        }
        h3 {
            font-size: 1.5rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
        }
    }
    .representatives {
        h3 {
            font-size: 1.5rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        p {
            letter-spacing: 0.2rem;
            font-size: 1rem;
            &.name {
                font-size: 1.3rem;
            }
            &.location {
                color: grey;
            }
            &.mobile {
                font-weight: 500;
            }
        }
        @media screen and (min-width: 768px) {
            padding: 0;
        }
        .grid {
            @media screen and (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 8rem;
                grid-row-gap: 3rem;
            }
            @media screen and (min-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
    .representatives,
    .collaborators,
    .members {
        height: auto;
        @include center-with-flex(column);
        @media screen and (max-height: 480px) {
            height: auto;
            padding: 2rem 0 2rem;
        }
        @media screen and (min-width: 768px) {
            scroll-snap-align: start;
            height: auto;
            padding: 0 0 6rem;
        }
    }
    .logo-bottom {
        @include small-logo;
        @include center-with-margin;
        padding-bottom: 4rem;
    }
}