// Mixins for device specific media queries
@mixin iPhoneLandscape {
    //iphone 5 & 5s landscape
    @media screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
        height: 32rem;
    }
    //  iphone 6, 7 & 8 landscape
    @media screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
        height: 37.5rem;
    }
    //  iphone x landscape
    @media screen and (min-width: 375px) and (max-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
        height: 37.5rem;
    }
    //  iphone 6, 7 & 8 plus landscape
    @media screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
        height: 41.4rem;
    }
}

@mixin iPhonePotrait {
    //iphone 5 & 5s portrait
    @media screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
        height: 56.8rem;
    }
    //  iphone 6, 7 & 8 portrait
    @media screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
        height: 66.7rem;
    }
    // iphone x portrait
    @media screen and (min-width: 375px) and (max-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
        height: 81.2rem;
    }
    //  iphone 6, 7 & 8 plus portrait
    @media screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
        height: 73.6rem;
    }
}

@mixin iPad {
    // ipad landscape
    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        min-height: 76rem;
    }
    //  ipad portrait
    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        min-height: 102rem;
    }
}

@mixin iPadPro {
    // ipad pro landscape
    @media screen and (min-width: 1366px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        min-height: 102rem;
    }
    //  ipad pro portrait
    @media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        min-height: 136rem;
    }
}